// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-gray: #F4F4F4;

 body {
   background: $light-gray; // Using this variable
 }

a {
   color: blue;
   &:hover {
     color: black;
   }
 }
